body{
    background:#212121;    
}

.nav-wrapper{
    background: #f44336;
}

.loader {
  position: absolute;
  margin: auto;
  top: 50vh;
  bottom: 50vh;
  left: 0;
  right: 0;
}

#loaderID{
  display: none;
}

#searchBtn{
  cursor: pointer;
}

.noUi-connect {
	background: #f44336;
}
.noUi-horizontal .noUi-handle, .noUi-vertical .noUi-handle {
	background: #f44336;
}
.noUi-target.noUi-horizontal .noUi-tooltip {
	background-color: #f44336;
}

#test-slider #result_slider{
  margin-top: 5px;
  margin-bottom: 5px;
}

.row{
  margin-bottom: 0px;
}

/* styles for '...' */ 
.block-with-text {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative; 
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 8.4em; 
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;  
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
}
/* hide ... if we have text, which is less than or equal to max lines */
.block-with-text:after {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  
}

.github-link{
  width: 45px;
  height: 45px;
}